* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
    font-weight: 400;

    --color-main-green: #678417;
    --color-main-pink: #E297E2;
    --color-main-orange: #FDAD00;

    --color-text: white;
}

/*størelse på boby*/
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: var(--color-text);

}

/*font til h*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: url("../fonts/made_carving/MADECARVINGOutlinePersonalUse-Bold.otf");
}


/*Insteling for burger*/
.burger {
    justify-content: center;
}

.burgericon {
    position: absolute;
    right: 0;
    padding: 15px;
}

.burgericon img {
    width: 6vw;
}

/*strøese for main*/
main {
    width: 100%;
    height: 100%;
}

/*instelinger for inholdet*/
.Indholdet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.øldåse {
    margin-right: 20px;
    margin-left: 100px;
}

.text {
    margin-right: 150px;
    margin-left: 20px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
}

.tilmeld {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.insæt {
    display: flex;
    flex-direction: row;
}

.input-container {
    display: flex;
    align-items: center;
}

.tilmeld input[type="text"] {
    padding: 5px;
    width: 200px;

    background-color: #f0f0f0;

    border: 1px solid #ccc;

    color: #ccc;
}

.tilmeld input[type="submit"] {
    padding: 6px 20px;
    background-color: var(--color-main-orange);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Baggrundsfarve ved hover til tilmeld */
.tilmeld input[type="submit"]:hover {
    background-color: var(--color-main-green);
}

/* for insæt og tilmeld til at stå op af hinaden*/
input {
    padding: -6%;
}

/*iconer til at stå i colum*/
.medie {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% 100%;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% -100%
}

/*størlse på icon billiderne*/
.medie img,
.kontakt img {
    width: auto;
    height: 60px;
}

/*mellemrum mellem iconerne*/
.medie li,
.kontakt li {
    margin-bottom: 20px;
}

/*inhold i foter til at stå i en row og ændre farve på de andre ølsider*/
.fod {
    display: flex;
    flex-direction: row;
    background-color: var(--color-main-pink)
}

.fod2 {
    display: flex;
    flex-direction: row;
    background-color: var(--color-main-green)
}

.fod3 {
    display: flex;
    flex-direction: row;
    background-color: var(--color-main-green)
}

/* Baggrundsbillide og størelse på hver øldåse*/
.baggrund {
    background-color: #678417;
    background-size: cover;
    background-position: center center;
}

.baggrund2 {
    background-color: var(--color-main-pink);
    background-size: cover;
    background-position: center center;
}

.baggrund3 {
    background-color: var(--color-main-orange);
    background-size: cover;
    background-position: center center;
}


/*Fjener øldåse til mobil og fylder tesxt ud til mobil*/
@media (max-width: 1024px) {

    .øldåse {
        display: none;
    }

    .text {
        margin-right: 20px;
        margin-left: 20px;
    }
}

/*til footer*/
@media only screen and (max-width: 570px) {

    .tilmeld {
        width: 40%;
    }

    .insæt {
        width: 100%;
    }

    .tilmeld input[type="text"] {
        width: 70%;
    }

    .tilmeld input[type="submit"] {
        padding: 6px 5px;
    }

    input {
        margin: -6%;
        padding: -6%;
    }
}