* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
    font-weight: 400;

    --color-main-green: #678417;
    --color-main-pink: #E297E2;
    --color-main-orange: #FDAD00;

    --color-text: white;
}

/*støelse på body og main*/
.body {
    background-color: #678417;
}

.main {
    justify-content: center;
}

/*instelinger for burger*/
.burger {
    display: flex;
    justify-content: center;
    position: relative;
}

.burgericon {
    position: absolute;
    right: 0;
    padding: 15px;
}

.burgericon img {
    width: 6vw;
}

.burgerlogo {
    position: absolute;
    left: 33%;
    top: 0;
    width: 35vw;

}

/*instalinger for dåseøl*/
.øl {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.enkeløl1 {
    background-color: var(--color-main-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 33.33%;
    height: 100%;
    justify-content: center;
}

.enkeløl1 :hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.enkeløl2 {
    background-color: #678417;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 33.33%;
    height: 100%;
    justify-content: end;
}

.enkeløl2 :hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.enkeløl3 {
    background-color: #FDAD00;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 33.33%;
    height: 100%;
    justify-content: center;
}

.enkeløl3 :hover {
    transform: scale(1.05);
    transition: 0.4s;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: var(--color-main-green);
}

.tilmeld {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    color: #f0f0f0;
}

.insæt {
    display: flex;
    flex-direction: row;
}

.input-container {
    display: flex;
    align-items: center;
}

.tilmeld input[type="text"] {
    padding: 5px;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #ccc;
}

.tilmeld input[type="submit"] {
    padding: 6px 20px;
    background-color: var(--color-main-pink);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Baggrundsfarve ved hover */
.tilmeld input[type="submit"]:hover {
    background-color: var(--color-main-orange);
}

/* for insæt og tilmeld til at stå op af*/
input {
    padding: -6%;
}

/*iconer til at stå i colum*/
.medie {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% 100%;
}

.kontakt {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 100% -100%
}

/*størlse på icon billiderne*/
.medie img,
.kontakt img {
    width: auto;
    height: 60px;
}

/*mellemrum mellem iconerne*/
.medie li,
.kontakt li {
    margin-bottom: 20px;
}

/*inhold i foter til at stå i en row*/
.fod {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    main {
        flex-direction: row;
        height: fit-content;
    }

    .enkeløl1 img {
        width: 100%;
        height: fit-content;
    }

    .enkeløl2 img {
        width: 100%;
        height: fit-content;
    }

    .enkeløl3 img {
        width: 100%;
        height: fit-content;
    }
}

/*til footer*/
@media only screen and (max-width: 570px) {

    .tilmeld {
        width: 40%;
    }

    .insæt {
        width: 100%;
    }

    .tilmeld input[type="text"] {
        width: 70%;
    }

    .tilmeld input[type="submit"] {
        padding: 6px 5px;
    }

    input {
        margin: -6%;
        padding: -6%;
    }
}