/*Passer til forskælige skærme*/
* {
    margin: 0;
    padding: 0;
}

/*pallete*/
:root {
    font-family: "Inter", sans-serif;

    --color-main-green: #678417;
    --color-main-pink: #E297E2;
    --color-main-orange: #FDAD00;

    --color-text: white;
}

/*Font udefra*/
@font-face {
    font-family: "made_carving";
    src: url("../fonts/made_carving/MADECARVINGPersonalUse-Bold.otf");
}

/*Font til udvalgte*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "made_carving";
}

/* indstillinger for body*/
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: var(--color-text);
    background-color: #678417;
}

/* størelse for overskrift*/
h1 {
    font-size: 6vw;
}

h2 {
    margin: 5%;
}

.burger {
    justify-content: center;
}

.burgericon {
    position: absolute;
    right: 0;
    padding: 15px;
}

.burgericon img {
    width: 6vw;
}


/* Indholdet på siden jusetringer*/
main {
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Foto på main indstillinger*/
.hænder {
    width: calc(100% - 40px);
    margin-top: 5%;
}

/*Gør sådan første conten hænger sammen med baggrundsbillide*/
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/*logo*/
.hero img {
    width: 20vw;
}

/*Titel indstillinger*/
.hero .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* brødteksten størelse indstillinger*/
main section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

/* P indstillinger*/
main p {
    margin: 0 20px;
    text-align: justify;
    text-transform: none;
    /*til at lave om i textsskrift*/
    margin-top: 12%;
    line-height: 2;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: var(--color-main-orange);
}

.tilmeld {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.insæt {
    display: flex;
    flex-direction: row;
}

.input-container {
    display: flex;
    align-items: center;
}

.tilmeld input[type="text"] {
    padding: 5px;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #ccc;
}

.tilmeld input[type="submit"] {
    padding: 6px 20px;
    background-color: var(--color-main-pink);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Baggrundsfarve ved hover */
.tilmeld input[type="submit"]:hover {
    background-color: var(--color-main-green);
}

/* for insæt og tilmeld til at stå op af*/
input {
    padding: -6%;
}

/*iconer til at stå i colum*/
.medie {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% 100%;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% -100%
}

/*størlse på icon billiderne*/
.medie img,
.kontakt img {
    width: auto;
    height: 60px;
}

/*mellemrum mellem iconerne*/
.medie li,
.kontakt li {
    margin-bottom: 20px;
}

/*inhold i foter til at stå i en row*/
.fod {
    display: flex;
    flex-direction: row;
}

/*Baggrunds billide*/
.bg2 {
    background-image: url("../img/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*tilpasser sig skærmstørlse*/
@media screen and (max-width: 768px) {
    main {
        width: 100%;
        max-width: initial;
    }

    main section {
        width: 100%;
    }

    .hero h1 {
        font-size: 13vw;
    }

    .hero img {
        width: 40vw;
    }

    .burger {
        display: flex;
    }
}

/*til footer*/
@media only screen and (max-width: 570px) {

    .tilmeld {
        width: 40%;
    }

    .insæt {
        width: 100%;
    }

    .tilmeld input[type="text"] {
        width: 70%;
    }

    .tilmeld input[type="submit"] {
        padding: 6px 5px;
    }

    input {
        margin: -6%;
        padding: -6%;
    }
}