/* Hjælp til css https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax */

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
    font-weight: 400;

    --color-main-green: #678417;
    --color-main-pink: #E297E2;
    --color-main-orange: #FDAD00;

    --color-text: white;
}

/*størelse på boby*/
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: var(--color-text);
}

/*font til h*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: url("../fonts/made_carving/MADECARVINGOutlinePersonalUse-Bold.otf");
}

/*Hvodemenu man ser på laptop*/
.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: calc(100% - 60px);
    /* Hvis margin ikke virker kan man bruge dette */
    margin: 0 30px;
}

.menu .menupunkter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60%;
    list-style: none;
}

.menu div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 30%;
}

/*Logo på laptop*/
.menu div img {
    width: 80%;
}

.menu li {
    padding: 5px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

/*Gør sådan submenuer dukker frem når man hover hen over*/
.hovedmenu {
    position: relative;
}

.hovedmenu a {
    color: #678417;
    font-weight: 1000;
}

.submenu a {
    color: #678417;
}

.submenu li {
    color: #678417;
    font-weight: 1000;
}

.submenu {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 150px;
    list-style: none;
    background-color: #E297E2;
}

.submenu:hover {
    display: flex;
}

.hovedmenu:hover .submenu {
    display: flex;
}


/*Insteling for burger*/
.burger {
    display: none;
    justify-content: center;
    position: relative;
}

.burgericon {
    position: absolute;
    right: 0;
    padding: 15px;
}

.burgericon img {
    width: 6vw;
}

.burgerlogo {
    width: 35vw;
    padding: 15px;
}

/*støresle for main*/
main {
    width: 100%;
    height: 100%;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: var(--color-main-green);
}

.tilmeld {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.insæt {
    display: flex;
    flex-direction: row;
}

.input-container {
    display: flex;
    align-items: center;
}

.tilmeld input[type="text"] {
    padding: 5px;
    width: 200px;

    background-color: #f0f0f0;

    border: 1px solid #ccc;

    color: #ccc;
}

.tilmeld input[type="submit"] {
    padding: 6px 20px;
    background-color: var(--color-main-pink);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Baggrundsfarve ved hover */
.tilmeld input[type="submit"]:hover {
    background-color: var(--color-main-orange);
}

/* for insæt og tilmeld til at stå op af*/
input {
    padding: -6%;
}

/*iconer til at stå i colum*/
.medie {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.kontakt {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/*størlse på icon billiderne*/
.medie img,
.kontakt img {
    width: auto;
    height: 60px;
}

/*mellemrum mellem iconerne*/
.medie li,
.kontakt li {
    margin-bottom: 20px;
}

/*inhold i foter til at stå i en row*/
.fod {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    width: calc(100% - 60px);
}

/* Baggrundsbillide og størelse*/
.bg1 {
    background-image: url("../img/forside.jpg");
    background-size: cover;
    background-position: center center;
}

@media only screen and (max-width: 1000px) {
    .burger {
        display: flex;
    }

    .menu {
        display: none;
    }
}

/*til footer*/
@media only screen and (max-width: 570px) {

    .tilmeld {
        width: 40%;
    }

    .insæt {
        width: 100%;
    }

    .tilmeld input[type="text"] {
        width: 70%;
    }

    .tilmeld input[type="submit"] {
        padding: 6px 5px;
    }

    input {
        margin: -6%;
        padding: -6%;
    }
}