/* Hjælp til css https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax */

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
    font-weight: 400;

    --color-main-green: #678417;
    --color-main-pink: #E297E2;
    --color-main-orange: #FDAD00;

    --color-text: white;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: var(--color-text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: url("../fonts/made_carving/MADECARVINGOutlinePersonalUse-Bold.otf");
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: calc(100% - 60px); /* Hvis margin ikke virker kan man bruge dette */
    margin: 0 30px;
}

.menu .menupunkter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60%;
    list-style: none;
}

.menu div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 30%;
}
.menu div img {
    width: 80%;
}

.menu li {
    padding: 5px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.hovedmenu{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 150px;
    list-style: none;
    background-color: #E297E2;
}

.submenu:hover {
    display: flex;
}

.hovedmenu:hover .submenu{
    display: flex;
}

.burger {
    display: none;
    justify-content: center;
    position: relative;
}

.burgericon{
    position: absolute;
    right: 0;
    padding: 15px;
}

.burgericon img{
    width: 10vw;
}

.burgerlogo{
    width: 30vw;
    padding: 15px;
}

main {
    width: 100%;
    height: 100%;
    /*background-color: #97d5e2;*/
    
}

footer {
    width: 100%;
    height: 50vh;
    background-color: var(--color-main-green);
    
}

.tilmeld {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
}

.input-container {
    display: flex;
    align-items: center;
}
.tilmeld input[type="text"] {
    padding: 5px; /* Indvendig padding for tekst input */
    margin-right: 10px; /* Margin mellem input felterne */
    width: 200px; /* Bredde på tekst input */
    background-color: #f0f0f0; /* Standard baggrundsfarve */
    border: 1px solid #ccc; /* Kantfarve */
    color: #ccc;
}

.tilmeld input[type="submit"] {
    padding: 10px 20px; /* Indvendig padding for knappen */
    background-color: var(--color-main-pink); /* Standard baggrundsfarve */
    color: white; /* Tekstfarve */
    border: none; /* Ingen kant */
    cursor: pointer; /* Markøren ændres til en peger */
    transition: background-color 0.3s; /* Blød overgang for baggrundsfarven */
}

/* Baggrundsfarve ved hover */
.tilmeld input[type="submit"]:hover {
    background-color: var(--color-main-orange); 
}
/*iconer til at stå i colum*/
.medie {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% 100%;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 100% -100%
}
/*størlse på icon billiderne*/
.medie img, .kontakt img {
    width: auto;
    height: 60px;
}

/*mellemrum mellem iconerne*/
.medie li,.kontakt li {
    margin-bottom: 20px;
}

/*inhold i foter til at stå i en row*/
.fod {
    display: flex;
    flex-direction: row;
}

.bg1 {
    background-image: url("../img/forside.jpg");
    background-size: cover;
    background-position: center center;
}

@media only screen and (max-width: 1000px) {
    .burger {
      display: flex;
    }
    .menu {
      display:none;
    }
  }